include ./partials/__header.jade
include ./partials/__navbarLoggedIn.jade
include ./partials/__jumbotron.jade
div#tradeThis You're attempting a trade to acquire "#{receivedBookData.title}" by #{receivedBookData.author}. What will you give up in return?
input(style="display:none", name="receivedBookID", value=receivedBookData._id)
input(style="display:none", name="partnerID", value=receivedBookData.ownerID)

h3 Pick a book to trade

table#bookTable
    tr
      th Title
      th Author
      th Description
      th Offer?
    each book in books
        tr
          td= book.title
          td= book.author
          td= book.description
          td
            button.tradeBookButton(name="givenBookID" value=book.id) Trade This Book

script(src="/static/js/ajax/finishTradeOffer.js")